<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <img class="text-center logo" src="http://www.kustompcs.co.uk/acatalog/D118-gaming-sc2-zerg.jpg" />
        </div>
    </div>
    <div class="loginBottom navbar-fixed-bottom">
        <div class="row loginElement">
            <div class="col-xs-12">
                <input class="form-control" type="email" value="{{vm.Username}}" placeholder="Username" />
            </div>
        </div>
        <div class="row loginElement">
            <div class="col-xs-12">
                <input class="form-control" type="password" value="{{vm.Password}}" placeholder="Password" />
            </div>
        </div>
        <div class="row loginButton">
            <div class="col-xs-12 text-center">
                <button class="btn btn-primary col-xs-12" data-ng-click="vm.Login()">Login</button>
            </div>
        </div>
        <div class="row loginElement">
            <div class="col-xs-12">
                <a href="#">Create new account</a>
            </div>
        </div>
    </div>
</div>